<div class="container" *ngIf="(apiKeyPresent$ | async) === false; else tableView">
  <gw-add-api-key></gw-add-api-key>
</div>

<ng-template #tableView>
  <div
      class="main-container"
      *ngIf="{
        daily: daily$ | async,
        weekly: weekly$ | async,
        special: special$ | async
      } as data">
    <mat-progress-bar
        mode="indeterminate"
        *ngIf="!data.daily || !data.weekly || !data.special">
    </mat-progress-bar>
    <div
        class="tables"
        *ngIf="data.daily && data.weekly && data.special">
      <div class="title-table-container" *ngIf="data.daily">
        <h2 class="title">Daily</h2>
        <div class="table-container">
          <gw-wizards-vault-table [dataSource]="data.daily"></gw-wizards-vault-table>
        </div>
      </div>

      <div class="title-table-container" *ngIf="data.weekly">
        <h2 class="title">Weekly</h2>
        <div class="table-container">
          <gw-wizards-vault-table [dataSource]="data.weekly"></gw-wizards-vault-table>
        </div>
      </div>

      <div class="title-table-container" *ngIf="data.special">
        <h2 class="title">Special</h2>
        <div class="table-container">
          <gw-wizards-vault-table [dataSource]="data.special"></gw-wizards-vault-table>
        </div>
      </div>
    </div>
  </div>
</ng-template>
