.mat-column-name {
  padding: 10px;
  width: 385px;
}

.mat-column-acclaim {
  width: 94px;
}

.acclaim {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bar {
  padding-top: 12px;
}

.progress {
  /* grey 500*/
  color: #9E9E9E;
}
