<div class="container" *ngIf="(apiKeyPresent$ | async) === false; else tableView">
  <gw-add-api-key></gw-add-api-key>
</div>

<ng-template #tableView>
  <div class="main-container" *ngIf="{source: data$ | async} as data">
    <mat-progress-bar mode="indeterminate" *ngIf="!data.source"></mat-progress-bar>
    <div class="title-table-container" *ngIf="data.source">
      <h2 class="title">Characters</h2>

      <div class="table-container">
        <table [dataSource]="data.source" mat-table>
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">{{element.age}}</td>
          </ng-container>

          <ng-container matColumnDef="crafting">
            <th mat-header-cell *matHeaderCellDef>Crafting</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let c of element.crafting">
                <div class="row-with-icon">
                  <img [src]="c.icon">
                  <div class="row-with-crafting-rating">
                    <span>{{c.info.discipline}}</span>
                    <span>({{c.info.rating}})</span>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef>Created</th>
            <td mat-cell *matCellDef="let element">{{element.created}}</td>
          </ng-container>

          <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef>Deaths</th>
            <td mat-cell *matCellDef="let element">{{element.deaths}}</td>
          </ng-container>

          <ng-container matColumnDef="bags">
            <th mat-header-cell *matHeaderCellDef>Bags</th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let bag of element.bags">
                {{bag.name}}: {{bag.capacity}}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="equipment">
            <th mat-header-cell *matHeaderCellDef>
              <div class="equipment-header">
                Equipment
                <div>
                  <button
                      (click)="expandAll()"
                      mat-icon-button
                      matTooltip="Expand all"
                      matTooltipPosition="above">
                    <mat-icon>expand_more</mat-icon>
                  </button>
                  <button
                      (click)="collapseAll()"
                      mat-icon-button
                      matTooltip="Collapse all"
                      matTooltipPosition="above">
                    <mat-icon>expand_less</mat-icon>
                  </button>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <gw-equipment-expander [equipments]="element.equipment"></gw-equipment-expander>
            </td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">{{element.gender}}</td>
          </ng-container>

          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef>Level</th>
            <td mat-cell *matCellDef="let element">{{element.level}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <div>{{element.name}}</div>
              <div class="character-title mat-caption">{{element.title | async}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="profession">
            <th mat-header-cell *matHeaderCellDef>Profession</th>
            <td mat-cell *matCellDef="let element">
              <div class="row-with-icon">
                <img [src]="element.professionIcon">
                {{element.profession}}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="race">
            <th mat-header-cell *matHeaderCellDef>Race</th>
            <td mat-cell *matCellDef="let element">{{element.race}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>
