@use '~@angular/material/theming' as mat;
@import '../styles';

.mat-column-age {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-crafting {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-created {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-deaths {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-equipment {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 1232px;
}

.mat-column-gender {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-level {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-name {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-profession {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-column-race {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin: 20px;
}

.character-title {
  @include use-font(caption);
  color: mat.mat-color(mat.$mat-grey, 500);
}

.equipment-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  height: 100%;
}

.row-with-crafting-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & span:last-child {
    margin-left: 20px;
  }
}

.row-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-container {
  max-height: 100%;
  overflow-y: auto;
}

.title {
  @include use-font(title);
  margin-bottom:  20px;
}

.title-table-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

tr.mat-row {
  height: 80px;
}
