.armor-section {
  width: 350px;
}

.container {
  display: flex;
  flex-direction: row;
}

.equipment-section {
  margin-left: 10px;
  margin-right: 10px;

  & h3 {
    margin-bottom: 12px;
  }
}

.item-row {
  & p:first-child {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  & p:not(:first-child) {
    margin-left: 10px;
  }
}

.mining-section {
  width: 200px;
}

.open-panel-title {
  /* The badge is offset by 11px so we need space to show it */
  margin-top: 12px;
  margin-bottom: 0;
}

.trinkets-section,
.weapons-section {
  width: 260px;
}

mat-expansion-panel.mat-expansion-panel {
  box-shadow: none;
}
