<div
    class="main-container"
    *ngIf="{
      naWorlds: naWorlds$ | async,
      euWorlds: euWorlds$ | async
    } as data">
  <mat-progress-bar mode="indeterminate" *ngIf="!data.naWorlds || !data.euWorlds">
  </mat-progress-bar>

  <div class="tables" *ngIf="data.naWorlds && data.euWorlds">
    <div class="title-table-container">
      <h2 class="title">NA Worlds</h2>

      <div class="table-container">
          <gw-world-population [dataSource]="data.naWorlds"></gw-world-population>
      </div>
    </div>

    <div class="title-table-container" *ngIf="data.euWorlds">
      <h2 class="title">EU Worlds</h2>

      <div class="table-container">
        <gw-world-population [dataSource]="data.euWorlds"></gw-world-population>
      </div>
    </div>
  </div>
</div>
