.mat-column-name {
  width: 264px;
}

.mat-column-population {
  width: 274px;
}

.world-name {
  align-items: center;
  display: flex;
  flex-direction: row;

  & mat-icon {
    margin-left: 10px;
  }
}

/* Population colors */

.low {
  /* light-green 600*/
  color: #7CB342;
}

.medium {
  /* light-green 600*/
  color: #7CB342;
}

.high {
  /* lime 600*/
  color: #C0CA33;
}

.very-high {
  /* orange 600*/
  color: #FB8C00;
}

.full {
  /* red 600*/
  color: #E53935;
}
