@use '@angular/material/theming' as mat;
@import '../styles';

.mat-column-name {
  width: 264px;
}

.mat-column-population {
  width: 274px;
}

.coming-soon {
  @include use-font(subheading-1);
  margin-bottom:  20px;
}

.container {
  height: 100%;
}

.table-container {
  max-height: 100%;
  overflow-y: auto;
}

.title {
  @include use-font(title);
  margin-bottom:  20px;
}

.title-table-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.world-name {
  display: flex;
  flex-direction: row;
  align-items: center;

  & mat-icon {
    margin-left: 10px;
  }
}

/* Population colors */

.low {
  color: mat.mat-color(mat.$mat-light-green, 600);
}

.medium {
  color: mat.mat-color(mat.$mat-light-green, 600);
}

.high {
  color: mat.mat-color(mat.$mat-lime, 600);
}

.very-high {
  color: mat.mat-color(mat.$mat-orange, 600);
}

.full {
  color: mat.mat-color(mat.$mat-red, 600);
}
