@use '@angular/material/theming' as mat;
@import '../styles';

.mat-column-type {
  width: 70px;
}

.mat-column-name {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.container {
  height: 100%;
}

.icon {
  height: 32px;
  padding-right: 10px;
}

.table-container {
  max-height: 100%;
  overflow-y: auto;
}

.tables {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.title {
  @include use-font(title);
  margin-bottom:  20px;
}

.title-table-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
