<div class="container" *ngIf="needsKey$ | async; else tableView">
  <div class="title">This page requires an API key</div>
  <button (click)="setApiKey()" color="primary" mat-button>
    Enter an API key
  </button>
</div>

<ng-template #tableView>
  <div class="main-container" *ngIf="{source: data$ | async} as data">
    <mat-progress-bar mode="indeterminate" *ngIf="!data.source"></mat-progress-bar>
    <div class="title-table-container" *ngIf="data.source">
      <div class="title">Account Info</div>

      <div class="tables">
        <div class="table-container">
          <table [dataSource]="data.source" mat-table>
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef>Key</th>
              <td mat-cell *matCellDef="let element">{{element.key}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Value</th>
              <td mat-cell *matCellDef="let element">{{element.value}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="table-container">
          <gw-wallet></gw-wallet>
        </div>

        <div class="table-container">
          <gw-map-chests></gw-map-chests>
        </div>

      </div>
    </div>
  </div>
</ng-template>
