.mat-column-key {
  width: 150px;
}

.mat-column-value {
  width: 300px;
}

.container {
  margin: 20px;
}

.main-container {
  height: 100%;
}

.table-container {
  max-height: 100%;
  overflow-y: auto;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.tables {
  display: flex;
  flex-direction: row;
  /* Title is 32px with 20px margin */
  height: calc(100% - 32px - 20px);
}

.title {
  margin-bottom: 20px;
}

.title-table-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.value {
  padding: 10px;
  white-space: pre;
}
