.mat-column-names {
  width: 350px;
}

.mat-column-victory-points {
  width: 85px;
}

.victory-points,
.world-names {
  margin-bottom: 12px;
  margin-top: 12px;
}

.world-names {
  align-items: center;
  border-left: 8px solid;
  display: flex;
  flex-direction: row;
  padding-left: 12px;

  & mat-icon {
    height: 20px;
    margin-left: 10px;
    width: 20px;
  }
}

.red-team {
  /* red 400  */
  border-left-color: #EF5350;
}

.green-team {
  /* green 400  */
  border-left-color: #66BB6A;
}

.blue-team {
  /* blue 400  */
  border-left-color: #42A5F5;
}
