@use '@angular/material' as mat;
@include mat.core();

$config: mat.define-typography-config();

@mixin use-font($name) {
/*  @include mat.mat-typography-level-to-styles($config, $name)*/
/*  @include mat.get-theme-typography($theme, $name);*/
}

/* Item rarity colors */
$color-junk: #AAA;
$color-basic: #000;
$color-fine: #62A4DA;
$color-masterwork: #1a9306;
$color-rare: #fcd00b;
$color-exotic: #ffa405;
$color-ascended: #fb3e8d;
$color-legendary: #4C139D;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1
}
