@import '../styles';

.coin {
  align-items: center;
  display: flex;
  flex-direction: row;

  &.large-font span {
    @include use-font(subheading-2);
  }
}

.coin-row {
  display: flex;
  flex-direction: row;
}
