@import '../styles';

.character-counts {
  margin-left: 10px;
}

.container {
  margin: 20px;
}

.icon {
  border: 2px solid;
  height: 48px;
}

.item-count-price {
  display: flex;
  flex-direction: row;
}

.item-count-row {
  margin-top: 20px;
  width: 300px;

  & p {
    margin-bottom: 12px;
  }
}

.item-icon-row {
  display: flex;
  flex-direction: row;
}

.item-info {
  margin-left: 10px;
}

.item-name {
  margin-bottom: 0;
}

.item-price-row {
  margin-left: 40px;
  margin-top: 20px;
}

.mat-mdc-form-field.mat-mdc-form-field {
  font-size: 18px;
  margin-top: 20px;
  width: 500px;
}

.title {
  margin-bottom: 20px;
}

/* Item rarity colors */

.junk {
  border-color: $color-junk;
}

.basic {
  border-color: $color-basic;
}

.fine {
  border-color: $color-fine;
}

.masterwork {
  border-color: $color-masterwork;
}

.rare {
  border-color: $color-rare;
}

.exotic {
  border-color: $color-exotic;
}

.ascended {
  border-color: $color-ascended;
}

.legendary {
  border-color: $color-legendary;
}
