<div class="container" *ngIf="(apiKeyPresent$ | async) === false; else searchView">
  <gw-add-api-key></gw-add-api-key>
</div>

<ng-template #searchView>
  <div *ngIf="{isReady: allItems$ | async} as data">
    <mat-progress-bar mode="indeterminate" *ngIf="!data.isReady"></mat-progress-bar>
    <div class="container" *ngIf="data.isReady">
      <h2 class="title">Inventory Search</h2>

      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="getItemName">
        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>

      <mat-form-field appearance="fill">
        <mat-label>Search for an item</mat-label>
        <input
            [formControl]="myControl"
            [matAutocomplete]="auto"
            matInput
            placeholder="Ectoplasm"
            type="text">
      </mat-form-field>

      <div *ngIf="selectedItem$ | async as selectedItem">
        <div class="item-icon-row">
          <img
              class="icon"
              [class]="getItemClass(selectedItem)"
              [src]="selectedItem.icon">
          <div class="item-info">
            <div class="item-name mat-headline-5">{{selectedItem.name}}</div>
            <div class="mat-caption">{{selectedItem.description}}</div>
          </div>
        </div>
        <div class="item-count-price" *ngIf="selectedItemCounts$ | async as itemCount">
          <div class="item-count-row">
            <p class="mat-subtitle-1">You have <strong>{{itemCount.count | number}}</strong> total</p>
            <div class="character-counts" *ngIf="characterCounts$ | async as characterCounts">
              <p class="mat-subtitle-1" *ngFor="let characterCount of characterCounts">
                {{characterCount.name}} has {{characterCount.count | number}}
              </p>
            </div>
          </div>
          <div class="item-price-row">
            <gw-item-price [item]="selectedItem" [itemCount]="itemCount.count"></gw-item-price>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
